<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/settings']">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Uurrooster
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="selectedEntries.length === 0" padding>
    <ion-card-title text-center>
      Nothing here!
    </ion-card-title>

    <ion-card-content>
      There are no courses available or you forgot to select courses.
    </ion-card-content>
  </ion-card>


  <ion-list *ngIf="selectedEntries.length !== 0">

    <div *ngFor="let day of selectedEntries">

      <ion-list-header color="light">
        <ion-label>{{ day[0].day }} {{ day[0].dateString }}</ion-label>
      </ion-list-header>

      <ion-item-sliding *ngFor="let course of day.slice(1)">
        <ion-item>

          <ion-grid>
            <ion-row>
              <ion-col *ngIf="!course.overlap" size="4">
                <h3>{{ course.timeStart }} - {{ course.timeEnd }}</h3>
                <h5>{{ course.room }}</h5>
              </ion-col>

              <ion-col *ngIf="course.overlap" size="4" class="overlap">
                <h3>{{ course.dateString }}</h3>
                <h3>{{ course.timeStart }} - {{ course.timeEnd }}</h3>
                <h5>{{ course.room }}</h5>
              </ion-col>

              <ion-col text-wrap>
                <h3>{{ course.courseName }}</h3>
              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-item>

        <ion-item-options side="end">
          <ion-item-option>Hi :)</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>


</ion-content>