<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    <!-- <ion-segment (ionChange)="onSegmentChange($event)">
        <ion-segment-button value="semester-1" id="seg-sem1">
          <ion-label>Semester 1</ion-label>
        </ion-segment-button>
        <ion-segment-button value="semester-2" id="seg-sem2">
          <ion-label>Semester 2</ion-label>
        </ion-segment-button>
    </ion-segment> -->


  <ion-list>
    <ion-item-sliding *ngFor="let course of allCourses">

      <ion-item (click)="onCourseSelected(course.opo)" *ngIf="selectedCourses.includes(course.opo)">

        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <h3>{{ course.opo }}</h3>
              <h3>{{ course.ola }}</h3>
            </ion-col>

            <ion-col text-wrap>
              <h3>{{ course.courseName }}</h3>
            </ion-col>

          </ion-row>
        </ion-grid>

      </ion-item>

      <ion-item (click)="onCourseSelected(course.opo)" *ngIf="!selectedCourses.includes(course.opo)">

        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <h3 class="unselected">{{ course.opo }}</h3>
              <h3 class="unselected">{{ course.ola }}</h3>
            </ion-col>

            <ion-col text-wrap>
              <h3 class="unselected">{{ course.courseName }}</h3>
            </ion-col>

          </ion-row>
        </ion-grid>

      </ion-item>



      <ion-item-options side="end">
        <ion-item-option>TODO</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>